<!DOCTYPE html>
<html lang="en">
    <body>

            
<div class="add">
    <h1>upload image</h1>
    <form method="POST" action="upload" enctype="multipart/form-data"
    >
        <input type="enter key" class="input-box" placeholder="choose key" name="key1">
        <br> </br>
        <input type="file" class="input-box" placeholder="choose image" name="image">
        <!-- <input type="path" class="input-box" value= image.path placeholder="imagePath" name="image1"> -->
        <!-- <script type="text/javascript">
            function getFilePath(){
                 $('input[type=file]').change(function () {
                    placeholder = this.files[0].mozFullPath; 
                 });
            }
            </script> -->
        <br> </br>
        <button type="submit" class="add-btn" name="key">submit</button>

    </form>
               
             </div>
            
             </body>

    
</html>